/* Container
-----------------------------*/

.container {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}


/* Row
-----------------------------*/

.row:before,
.row:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.row {
  zoom: 1;
}

/* Grid >> Global
------------------------------*/

[class*="column"] {
  float: left;
  margin-left: 16px;
  margin-right: 16px;
  min-height: 1px;
}

[class*="push"] {
  position:relative;
}

[class*="pull"] {
  position:relative;
}

/* column >> 12 Columns
-----------------------------*/


.row .column-1 {
  width:58px;
}

.row .column-2 {
  width:148px;
}

.row .column-3 {
  width:238px;
}

.row .column-4 {
  width:328px;
}

.row .column-5 {
  width:418px;
}

.row .column-6 {
  width:508px;
}

.row .column-7 {
  width:598px;
}

.row .column-8 {
  width:688px;
}

.row .column-9 {
  width:778px;
}

.row .column-10 {
  width:868px;
}

.row .column-11 {
  width:958px;
}

.row .column-12 {
  width:1048px;
}






/* Push Space >> 12 Columns
----------------------------*/


.row .push-1 {
  left:90px;
}

.row .push-2 {
  left:180px;
}

.row .push-3 {
  left:270px;
}

.row .push-4 {
  left:360px;
}

.row .push-5 {
  left:450px;
}

.row .push-6 {
  left:540px;
}

.row .push-7 {
  left:630px;
}

.row .push-8 {
  left:720px;
}

.row .push-9 {
  left:810px;
}

.row .push-10 {
  left:900px;
}

.row .push-11 {
  left:990px;
}



/* Pull Space >> 12 Columns
-----------------------------*/


.row .pull-1 {
  left:-90px;
}

.row .pull-2 {
  left:-180px;
}

.row .pull-3 {
  left:-270px;
}

.row .pull-4 {
  left:-360px;
}

.row .pull-5 {
  left:-450px;
}

.row .pull-6 {
  left:-540px;
}

.row .pull-7 {
  left:-630px;
}

.row .pull-8 {
  left:-720px;
}

.row .pull-9 {
  left:-810px;
}

.row .pull-10 {
  left:-900px;
}

.row .pull-11 {
  left:-990px;
}


/* Prefix Extra Space >> 12 Columns
---------------------------------------*/


.row .prefix-1 {
  padding-left:90px;
}

.row .prefix-2 {
  padding-left:180px;
}

.row .prefix-3 {
  padding-left:270px;
}

.row .prefix-4 {
  padding-left:360px;
}

.row .prefix-5 {
  padding-left:450px;
}

.row .prefix-6 {
  padding-left:540px;
}

.row .prefix-7 {
  padding-left:630px;
}

.row .prefix-8 {
  padding-left:720px;
}

.row .prefix-9 {
  padding-left:810px;
}

.row .prefix-10 {
  padding-left:900px;
}

.row .prefix-11 {
  padding-left:990px;
}



/* Suffix Extra Space >> 12 Columns
----------------------------------*/


.row .suffix-1 {
  padding-right:90px;
}

.row .suffix-2 {
  padding-right:180px;
}

.row .suffix-3 {
  padding-right:270px;
}

.row .suffix-4 {
  padding-right:360px;
}

.row .suffix-5 {
  padding-right:450px;
}

.row .suffix-6 {
  padding-right:540px;
}

.row .suffix-7 {
  padding-right:630px;
}

.row .suffix-8 {
  padding-right:720px;
}

.row .suffix-9 {
  padding-right:810px;
}

.row .suffix-10 {
  padding-right:900px;
}

.row .suffix-11 {
  padding-right:990px;
}
