// Vendor
@import "vendor/normalize";
@import "vendor/html5boilerplate";
@import "vendor/bootstrap";

// Base styles and layout
@import "partials/base";
@import "partials/layout";

// Modules
@import "modules/pizza";

// Concatenating files is done through the SCSS @import directives above.
// These @import rules will be replaced by the CSS rules contained within
// Sass project example directory layout:
// http://thesassway.com/beginner/how-to-structure-a-sass-project
//
//  Using SMACSS for organizing CSS rules:
//    https://smacss.com/book/categorizing


.location h2 {
  font: {
    family: 'Lobster Two', cursive;
    size: 2em;
  }
  text-align: center;
}

.location span {
  color: #118c11;
  font: {  
    family: 'Dancing Script';
    size: 1.5em;
    weight: 200;
  }
}
