// Base
// 
// Quoting from https://smacss.com/book/categorizing
// "Base rules are the defaults. They are almost exclusively single element 
//  selectors but it could include attribute selectors, pseudo-class selectors, 
//  child selectors or sibling selectors. Essentially, a base style says that 
//  wherever this element is on the page, it should look like this."

body {
  background-color: #f5f4ec;
}

.headline {
  font-size: 3em;
  font-family: 'Lobster Two', cursive;
  text-align: center;
}

.table {
  background-image: url(img/tablecloth.jpg);
  padding: 0 0 2em;
  margin-bottom: 3em;
  box-shadow: 4px 4px 14px #9e9e9e;
  border-radius: 1em;
  transform: perspective(900px) rotateX(32deg);
  min-height: 33em;
}


.location span {
  color: #118c11;
  font: {  
    size: 1.3em;
    weight: 100;
  }
}

.checkin {
  border: 6px solid rgba(184, 134, 11, 0.35);
  border-radius: 6px;
  box-shadow: 3px 3px 3px #cccccc;
  background: #fbfbfb;
  margin-bottom: 1.5em;

  & .date {
    transform: rotate(-43deg);
    position: absolute;
    top: 25px;
    left: 22px;
    font-weight: 800;
    font-family: 'Rock Salt';
    font-size: 0.7em;
  }
  & .location {
    margin: .2em 0 .4em 3.6em;
    font-family: 'Dancing Script';
    font-size: 1.4em;
  }
  & .description {
    font-family: 'Permanent Marker', 'Rock Salt';
    margin: 0em 0 0 4em;
    font-size: 1.3em;
    font-weight: 100;
    color: #d083d4;
  }
}


.topping-list {
  margin-left: 5em;
  & span {
    color: goldenrod;
    border: 1px solid #f5db9b;
    background-color: rgba(255, 239, 199, 0.22);
    font-family: 'Patrick Hand SC';
    border-radius: 5px;
    padding: 0 3px;
    margin: 0 2px;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: .5px;
  }
}
