
body {
  background-color: #f5f4ec;
}

.headline {
  font-size: 3em;
  font-family: 'Lobster Two', cursive;
  text-align: center;
}

.table {
  background-image: url(img/tablecloth.jpg);
  padding: 0 0 2em;
  margin-bottom: 3em;
  box-shadow: 4px 4px 14px #9e9e9e;
  border-radius: 1em;
  transform: perspective(900px) rotateX(32deg);
  min-height: 33em;
}

.location span {
  color: #118c11;
  font: {  
    size: 1.3em;
    weight: 100;
  }
}
