//  Using SMACSS for organizing CSS rules:
//  https://smacss.com/book/categorizing

// Vendor
@import "css/vendor/normalize";
@import "css/vendor/html5boilerplate";
@import "css/vendor/bootstrap";

// Base styles and layout
@import "css/partials/base";
@import "css/partials/layout";

// Modules
@import "css/modules/pizza";


.rollin-enter {
  transition: all 2s;
  transform: translateX(-200%) rotate(-360deg);
  &.rollin-enter-active {
    transform: translateX(0) rotate(0);
  }
}